<template>
  <div id="app" class="container">
    <div class="row">
      <div class="-col-xs-12">
        <button @click="selectedComponent = 'app-quote'">Quote</button>
        <button @click="selectedComponent = 'app-author'">Author</button>
        <button @click="selectedComponent = 'app-new'">New</button>
        <hr>
        <keep-alive>
          <component :is="selectedComponent">Default Content</component>
        </keep-alive>
        <!-- <app-quote>
          <h2 slot="title">{{ quoteTitle }}</h2>
          <p >A Wonderful Quote!</p>
        </app-quote> -->
      </div>
    </div>
 
  </div>
</template>

<script>
import Quote from "./components/Quote";
import Author from "./components/Author";
import New from "./components/New";

export default {
  data: function() {
    return {
      quoteTitle: 'The Quote',
      selectedComponent: 'app-quote',
    }
  },
  components: {
    appQuote: Quote,
    appAuthor: Author,
    appNew: New,
  }
}
</script>

<style lang="scss">

</style>
