<template>
    <div class="container">
        <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>
        <app-new-quote @quoteAdded="newQuote"></app-new-quote>
        <app-quote-grid :quotes="quotes" @quoteDeleted="deleteQuote"></app-quote-grid>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="alert alert-info">Info: Click on a Quote to delete it.</div>
            </div>
        </div>
    </div>
</template>

<script>
import QuoteGrid from "./components/QuoteGrid.vue";
import NewQuote from "./components/NewQuote.vue";
import Header from "./components/Header.vue"

    export default {
        data: function() {
            return {
                quotes: [
                    'Just a Quote to start with.'
                ],
                maxQuotes: 10,
            }
        },
        methods: {
            newQuote(quote) {
                if(this.quotes.length >= 10) {
                    return alert('Please delete Quotes first!')
                }
                this.quotes.push(quote);
            },
            deleteQuote(i) {
                this.quotes.splice(i, 1);
            }
        },
        components: {
            appQuoteGrid: QuoteGrid,
            appNewQuote: NewQuote,
            appHeader: Header,
        }
    }
</script>

<style>
</style>
