<template>
    <div>
        <h3>New Quote</h3>
        <p>{{ counter }}</p>
        <button @click="counter++">Increase</button>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                counter: 0,
            }
        },
        destroyed() {
            console.log('destroyed')
        },
        deactivated() {
            console.log('deactivated')
        },
        activated() {
            console.log('activated')
        }
    }
</script>

<style scoped>

</style>